body{
  background-color: #E0E0E0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem;
}

h1{
  font-size: 4rem;
}

.site-header{
  padding: 0;
  margin-top: 20px;
  margin-bottom: 50px;
}
